:root {
    --rowBg: #333333;
    --rowBg-hover: lighten($row-bg, 5%);
    --player-base: #4455BB;
    --ennemy-base: #cc4433;
    --allied-base: #449933;
}
  
#initiative-list {
  width: 100%;
  list-style-type: none;
  color: whitesmoke;
  font-style: sans;
  border: 0;

  & li {
    position: relative;
    transition: border-left 0.1s ease;
    padding-left: 0.6em;
    background: var(--rowBg);

    &.ennemy {
      border-left-color: var(--ennemy-base);
    }
    &.allied {
      border-left-color: var(--allied-base);
    }
    &.selected {
      background: color(color(var(--rowBg)) l(+3%));

      & .entry__pin { width: 0.6em; }
    }

    & .entry__pin {
      position: absolute;
      left: 0;
      width: 0.20em;
      height: 100%;
      transition: width 0.1s ease;
    }
  }
}
