@import './theme-default.css';


:export {
    good: var(--lightblue);
    bad: var(--red);
    neutral: grey;
}

  
#initiative-list {
  width: 100%;
  list-style-type: none;
  color: whitesmoke;
  font-style: sans;
  border: 0;

  & li {
    position: relative;
    transition: border-left 0.1s ease;
    padding-left: 0.6em;
    background: var(--rowBg);

    &.selected {
      background: color(color(var(--rowBg)) l(+3%));

      & .entry__pin { width: 0.6em; }
    }

    & .entry__pin {
      position: absolute;
      left: 0;
      width: 0.20em;
      height: 100%;
      transition: width 0.1s ease;
    }
  }
}
