/* Base Application Styles */
@import './theme-default.css';


:root {
  --title-height: 60px;
  --modeline-height: 45px;
}

* {
  margin: 0;
  padding: 0;
}

// debug
// *:focus { border: 1px dashed orange !important; }

/*
   When setting the primary font stack, apply it to the Pure grid units along
   with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
   specific font stacks to ensure the greatest OS/browser compatibility.
 */
html, button, input, select, textarea {
  font-family: var(--font-main);
  font-weigth: 400;
}

html, body {
  min-height: 100vh;
}

main {
  & .app-name {
    margin: 0;
    line-height: var(--title-height);
    padding-left: 0.66em;
    font-family: "Big John", sans;
    background: #444444;
  }
  & .app {
    height: calc(100vh - var(--modeline-height) - var(--title-height));
  }
  & .modeline {
    height: var(--modeline-height);
    font-weight: 900;
  }
}

body {
  color: #ccc;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.menu__page {
  background: #333;
  height: 100%;

  & .menu__title {
    text-align: center;
    margin: 0;
    padding: 0.33em;
    border-bottom: 2px solid #666666;
  } 	    

  & .menu__content {
    overflow-y: auto;
  }

  & .menu__actions {
    border-left: 0.3em solid #444444;
    padding: 0.3em;
  }

  & .menu__item {
    position: relative;
    border-bottom: 1px solid #222;
    padding: 1em 0.33em;

    & .key {
      margin-right: 0.2em;
    }

    & .caption {
      position: absolute;
      left: 50px;
    }
  }
}

.menu-page-enter {
  transition: transform 0.125s ease-in;
  transform: translatex(100%);

  &.menu-page-enter-active {
    transform: translatex(0%);
  }
}

.menu-page-leave {
  position: absolute;
  top: 0px;
  z-index: -1;

  transition: opacity 0.125s ease;
  opacity: 1;

  &.menu-page-leave-active {
    opacity: 0.3; 
  }
}

.modeline {
  background: var(--modeline-surface);
}

