/* Base Application Styles */
body {
  color: #ccc;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.menu-page {
  background: #333;

  .menu-title {
    text-align: center;
    margin: 0;
    padding: 0.33em;
    border-bottom: 2px solid #666666;
  } 	    

  .menu-item {
    position: relative;
    border-bottom: 1px solid #222;
    padding: 1em 0.33em;

    .key {
      margin-right: 0.2em;
    }

    .caption {
      position: absolute;
      left: 50px;
    }
  }
}

.menu-page-enter {
  transition: transform 0.5s ease-in;
  transform: translatex(100%);

  &.menu-page-enter-active {
    transform: translatex(0%);
  }
}

.menu-page-leave {
  position: absolute;
  top: 0px;
  z-index: -1;

  transition: opacity 0.5s ease;
  opacity: 1;

  &.menu-page-leave-active {
    opacity: 0.3; 
  }
}
  

