/* Base Application Styles */
body {
  color: #ccc;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.menu-page {
  background: #333;

  transition: transform 0.15s ease-out;
  transform: translateX(0);
  .menu-item {
    position: relative;
    border-bottom: 1px solid #222;
    padding: 1em 0.33em;

    .key {
      margin-right: 0.2em;
    }

    .caption {
      position: absolute;
      left: 50px;
    }
  }
}
