kbd, .key {
  display: inline-block;
  font-size: 2em;
  padding: 0.15em;
  min-width: 1.25em;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  text-align: center;
  user-select: none;

  transition: color 0.5s ease;

  &:hover {
    cursor: pointer;
  }
  
  &.active, &:hover {
    color: #ff8800;
    text-shadow: 0 0 5px black;
  }
}
